# .env.template

# MySQL Settings
DB_NAME=your_db_schema
DB_USER=your_db_username
DB_PASSWORD=your_db_password
DB_ROOT_PASSWORD=your_root_password

# Spring Boot (App) Settings
DB_HOST=db
DB_PORT=3306

# Azure DocumentIntelligence Settings
AZURE_DOC_INTEL_ENDPOINT=https://your.endpoint.azure.com/
AZURE_DOC_INTEL_KEY=your_access_key
